#*ip_user_files/
#*hw/

*
!*/
!.gitignore
!*.tcl

#VIVADO
!*.vhd
!*.v
#Block Diagrams
!*.bd
#Electronic Design Interchange Format (e.g. netlists, schematics)
!*.edif
#Vivado Project Files
!*.xpr
#Board Pin File
!*.xdc

#Processor
!*.c
!*.h
!*.ld
!*.elf
# !Makefile
# !makefile
# !*.mk

#Documentation
!*.txt
!*.md
!*.org
#!*.html

!*.include
#IP Core Container
!*.xcix
#Block graphic location and comments
!*.ui
#IP 
!*.xci
# !*.dcp
# !*.vds
# !*.pb
!*.bit

*cache/
*sim/
*runs/
# *bsp/
ipshared/
.metadata/
webtalk/
