#*ip_user_files/
#*hw/

*
!*/
!.gitignore
!.project
!.cproject
!*.tcl

#VIVADO
!*.vhd
!*.v
#Block Diagrams
!*.bd
#Electronic Design Interchange Format (e.g. netlists, schematics)
!*.edif
#Vivado Project Files
!*.xpr
#Board Pin File
!*.xdc
!*.hdf

#IP
!*.txt
!*.xml
!*.xci
!*.doc
!*.pdf
!*.mdd
!*.hwdef
!*.xit
!*.sv



#Processor
!*.c
!*.h
!*.o
!*.d
!*.ld
!*.elf
#Xilinx SDK Project Definition
!*.spec
!Makefile
!makefile
!*.mk
!*.size

#Documentation
!*.txt
!*.md
!*.org
#!*.html

!*.include
#IP Core Container
!*.xcix
#Block graphic location and comments
!*.ui
#IP 
!*.xci
# !*.dcp
# !*.vds
# !*.pb
!*.bit

*cache/
*sim/
*runs/
# *bsp/
ipshared/
.metadata/
webtalk/
